<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img class="mx-3" src="img/reddit.png" alt="Reddit" id="redditLogo"/>Todos RedditApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="oi oi-plus" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateUser">
                <span class="oi oi-plus" aria-hidden="true"></span> Create user
            </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateTodo">
                <span class="oi oi-plus" aria-hidden="true"></span> Create todo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewUsers">
                <span class="oi oi-list" aria-hidden="true"></span> View users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ViewTodos">
                <span class="oi oi-list" aria-hidden="true"></span> View Todos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowCredentials1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Credentials 1
            </NavLink>
        </div>
        
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowCredentials2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Credentials 2
            </NavLink>
        </div>*@
        
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="PolicyExample1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Policy 1
            </NavLink>
        </div>*@
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PolicyExample1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> PolicyExample1
            </NavLink>
        </div>
        @*<div class="nav-item px-3">
            <NavLink class="nav-link" href="PolicyExampleManual">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manual policy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BlockPageWithPolicy">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Block Page With Policy
            </NavLink>
        </div>*@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}