@page "/Register"
@using BlazorWasm.Services
@inject IAuthService authService
@using global::Shared.Models
@inject NavigationManager navmgr

<h3>Register</h3>

<div class="card">
    
    <h3>Please login</h3>
    <div class="field">
        <label>User name:</label>
        <input type="text" @bind="user.UserName"/>
    </div>
    
    <div class="field">
        <label style="text-align: center">Password:</label>
        <input type="password" @bind="user.Password"/>
    </div>
    
    <div class="field">
        <label style="text-align: center">Email:</label>
        <input type="text" @bind="user.Email"/>
    </div>
   
    <div class="field">
        <label style="text-align: center">Name:</label>
        <input type="text" @bind="user.Name"/>
    </div>
    
    
    <div class="field">
        <label style="text-align: center">Role:</label>
        <input type="text" @bind="user.Role"/>
    </div>
   
    <div class="field">
        <label style="text-align: center">Age:</label>
        <input type="text" @bind="user.Age"/>
    </div>
    
    <div class="field">
        <label style="text-align: center">SecurityLevel:</label>
        <input type="text" @bind="user.SecurityLevel"/>
    </div>
    
    <div class="field">
            <label style="text-align: center">Domain:</label>
            <input type="text" @bind="user.Domain"/>
        </div>
    
    @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="RegisterAsync">Log in</button>
            </div>
        </div>
    
@code {
    private User user = new();
    
   // private string userName;
    // private string password;
    
    
    private string errorLabel;

    private async Task RegisterAsync()
    {
        errorLabel = "";
        try
        {
            await authService.RegisterAsync(user);
            navmgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}